<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ image }}" />
    <meta property="og:url" content="https://slobo.xyz/" />
    <meta property="og:description" content="{{ description }}" />
  </head>
  <body class="flex flex-col min-h-screen font-mono">
    <div class="container flex-grow px-4 sm:px-6 mx-auto max-w-2xl">
      <header>
        <nav class="mt-6">
          <ul class="flex gap-4 sm:gap-6 md:gap-8">
            <li class="text-lg sm:text-xl transition duration-300 hover:text-green-600">
              <a href="/">Home</a>
            </li>
            <li class="text-lg sm:text-xl transition duration-300 hover:text-green-600">
              <a href="/books">Books</a>
            </li>
            <li class="text-lg sm:text-xl transition duration-300 hover:text-green-600">
              <a href="/quotes">Quotes</a>
            </li>
            <li class="text-lg sm:text-xl transition duration-300 hover:text-green-600">
              <a href="/thoughts">Thoughts</a>
            </li>
          </ul>
        </nav>
      </header>
      <main class="mt-16">{{ content }}</main>
    </div>

    <footer class="py-4 mt-auto">
      <div class="container mx-auto max-w-2xl text-center">
        <div
          class="text-sm text-green-500 opacity-0 transition-opacity hover:cursor-pointer duration-3000 hover:opacity-100"
        >
          hi :-)
        </div>
      </div>
    </footer>
  </body>
</html>
