---
layout: default
title: Book Recommendations
description: Books that have had a significant impact on me.
image: /img/book.webp
---

{% include "hero.html", title: "Book Recommendations", image: "/img/book.webp" %}

<div class="content-list">
  {% for book in books %}
  <div>
    <a
      href="{{ book.url }}"
      target="_blank"
      class="content-link"
    >
      {{ book.title }}
    </a>
    {% if book.hasQuote %}
    <blockquote class="p-4 italic text-warmgray/70 quote">
      <p class="mb-2 text-sm">"{{ book.quote }}"</p>
      <cite class="text-sm">— {{ book.quoteAuthor }}</cite>
    </blockquote>
    {% endif %}
    <p class="mt-2 text-sm">
      {% if book.hasVirtues %}
      {{ book.description }} In short, he made a list of
      <span
        class="relative cursor-pointer group decoration-dotted sm:underline underline-offset-2"
        >13 virtues<span
          class="hidden absolute -top-6 -left-8 p-4 w-44 no-underline bg-white rounded-xl border-2 border-dashed group-hover:block"
        >
          1.&nbsp; Temperance<br />
          2.&nbsp; Silence<br />
          3.&nbsp; Order<br />
          4.&nbsp; Resolution<br />
          5.&nbsp; Frugality<br />
          6.&nbsp; Industry<br />
          7.&nbsp; Sincerity<br />
          8.&nbsp; Justice<br />
          9.&nbsp; Moderation<br />
          10. Cleanliness<br />
          11. Tranquillity<br />
          12. Chastity<br />
          13. Humility</span
        ></span
      >
      and tracked them daily to improve his character.
      {% else %}
      {{ book.description | safe }}
      {% endif %}
    </p>
  </div>
  {% endfor %}
</div>
