---
layout: default
title: Money and Investing
description: A collection of links to useful articles on money and investing.
image: /img/money.webp
---

{% include "hero.html", title: "Investing Resources", image: "/img/money.webp" %}

<div class="content-list">
  {% for resource in resources %}
  <div>
    <a
      href="{{ resource.url }}"
      target="_blank"
      class="content-link"
    >
      {{ resource.title }}
    </a>
    <p class="mt-2 text-sm">{{ resource.description }}</p>
  </div>
  {% endfor %}
</div>
