---
layout: default
title: Product Recommendations
description: Useful products and brands I respect.
image: /img/backpack.webp
---

{% include "hero.html", title: "Product Recommendations", image: "/img/backpack.webp" %}

<div class="content-list">
  {% for product in products %}
  <div>
    <a
      href="{{ product.url }}"
      target="_blank"
      class="content-link"
    >
      {{ product.title }}
    </a>
    <p class="mt-2 text-sm">{{ product.description }}</p>
  </div>
  {% endfor %}
</div>
