@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .poker-card {
    @apply w-auto h-20 md:h-28 transition-transform duration-200 hover:scale-110;
  }
  .content-link {
    @apply text-green-600 hover:underline;
  }
  .section-title {
    @apply text-xl font-bold mt-8 mb-3;
  }
  .content-list {
    @apply flex flex-col gap-6 pb-10 mt-10;
  }
  .table-cell {
    @apply flex items-center border border-gray-200 border-dotted;
  }
  .table-cell-header {
    @apply flex justify-center items-center font-bold border border-gray-200 border-dotted;
  }
  .table-cell-content {
    @apply flex justify-start items-center pl-4 h-10 text-sm border border-gray-200 border-dotted;
  }
  .table-cell-price {
    @apply flex justify-center items-center border border-gray-200 border-dotted;
  }
  .hand-title {
    @apply mb-4 text-xl font-semibold text-green-700;
  }
  .card-container {
    @apply flex items-center space-x-2 md:space-x-4;
  }
  .thought-card {
    @apply p-6 rounded-lg border border-gray-200 transition-colors duration-200 hover:border-green-300;
  }
  .thought-link {
    @apply text-green-700 transition-colors duration-200 hover:text-green-600;
  }
}
